@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0953e9;
  --gradient-start: 213 100% 96%;
  --gradient-middle: 270 100% 90%;
  --gradient-end: 213 100% 96%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.hero-gradient {
  background: linear-gradient(
    135deg,
    hsl(var(--gradient-start)) 0%,
    hsl(var(--gradient-middle)) 50%,
    hsl(var(--gradient-end)) 100%
  );
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

.nav-item {
  position: relative;
}

.active-menu::after {
  height: 3px;
  border-radius: 5px;
  background-color: var(--primary);
  width: 33px;
  top: 25px;
  position: absolute;
  content: "";
  left: 0;
}

.testimonial div:nth-child(2) {
  margin-bottom: 34px;
}

.container {
  width: 100%;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 90%;
  }
  @media (width >= 75rem) {
    max-width: 74rem;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-700;
  }
}
